*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

header {
    top: 0px;
    z-index: 100;
    height: 8rem;
    margin-bottom: 4rem;
    background-color: #B185EA;
}


ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-top: .5rem;

}

.list{
    margin-right: 8rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.name{
    margin-right: 25rem;
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    
}

#eleccion{
    display: flex;
    width: 20%;
    margin: auto;

}


/* ------------SECCION INFO PELICULA-------------- */

.infoPelicula{
    margin: 6rem 2rem 8rem 3.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);


}



.imgPelicula{
    grid-column: 1;
    grid-row: 1;
}



.infoPelicula div{
    grid-column: 2/4;
    grid-row: 1;
    padding-right: 6rem;
}

.descripTitle{
    font-size: 2rem;
    margin-bottom: 3rem;
}



/* ------------SECCION INFO ELECCION DIA-------------- */

.diaElegido{
    display: flex;
    width: 40rem;
    height: 4rem;
    margin: auto;
    padding-top: 3rem;
}

.diaElegido button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
    height: 4rem;
    width: 4rem;

}



/* ------------SECCION ELECCION VERSION-------------- */

.eleccionVersion{
    margin-top: 6rem;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.cast{
    display: flex;
    flex-direction: column;
    grid-column: 1;
    width: 15rem;
    margin-left: 4rem;
    border: 1px black solid;
}

.cast h3{
    display:flex;
    height: 3rem;
    width: 15rem;
    margin: 0 auto 1rem 0 ;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}






.sub{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    width: 15rem;
    margin-left: 4rem;
    border: 1px black solid;
}

.sub h3{
    display:flex;
    height: 3rem;
    width: 15rem;
    margin: 0 auto 1rem 0 ;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}






.sub-3{
    display: flex;
    flex-direction: column;
    grid-column: 3;
    width: 15rem;
    margin-left: 4rem;
    border: 1px black solid;
}

.sub-3 h3{
    display:flex;
    height: 3rem;
    width: 15rem;
    margin: 0 auto 1rem 0 ;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}




.horario button{
    display: flex;
    margin: auto;
    height: 4rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-weight: 900;
    font-size: 1.3rem;    
}


/* ASIENTOS */


.auto-style1 {
    width: 91%;
}
.auto-style2 {
    text-align: center;
    width: 1122px;
}
.auto-style3 {
    width: 30px;
    background-color: lightpink;
    text-align: center;
}
.auto-style4 {
    width: 35px;
}
.auto-style5 {
    width: 36px;
}
.auto-style6 {
    width: 30px;
    height: 34px;
}
.auto-style7 {
    width: 36px;
    height: 34px;
}
.auto-style8 {
    width: 35px;
    height: 34px;
}
.auto-style10 {
    width: 32px;
}
.auto-style11 {
    width: 32px;
    height: 34px;
}
.auto-style12 {
    width: 34px;
}
.auto-style13 {
    width: 34px;
    height: 34px;
}
.nuevoEstilo1 {
    border-top-style: solid;
}
.auto-style14 {
    width: 35px;
    height: 34px;
    text-align: center;
}
.auto-style15 {
    width: 35px;
    text-align: center;
}
.auto-style16 {
    text-align: center;
}
.auto-style17 {
    width: 34px;
    text-align: center;
}
.auto-style18 {
    width: 32px;
    text-align: center;
}
.auto-style19 {
    width: 36px;
    text-align: center;
}
.highlighted {
    background-color:grey;
}